__pycache__/
env/
*.py[cod]
.coverage
media/
/static/
trionyx/trionyx/static/img/favicon.png

docs/_build/
build/
dist/
*.egg-info/
*.swp
*.iml
static/CACHE/
htmlcov/
.mypy_cache/

development.sqlite3
.idea
celerybeat-schedule
/environment.json
