{% extends "trionyx/base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}
{% block page_title %}
    {{ title }}
{% endblock %}

{% block header_buttons %}
    <a href="{{ create_url }}" class="btn btn-default">Create</a>
{% endblock %}


{% block content %}
    <div class="box" id="app-model-list" v-cloak>
        <div class="box-header">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" v-model="search" v-on:keyup="searchLoad()">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-flat" v-on:click="searchLoad()"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="box-tools">
                <form method="post" v-bind:action="downloadUrl">
                    <input type="hidden" name="csrfmiddlewaretoken" v-model="csrfmiddlewaretoken">
                    <input type="hidden" name="page" v-model="page">
                    <input type="hidden" name="page_size" v-model="pageSize">
                    <input type="hidden" name="selected_fields" v-model="selected_fields">
                    <input type="hidden" name="sort" v-model="sort">
                    <input type="hidden" name="search" v-model="search">
                    <button type="submit" class="btn btn-default hidden-xs" v-if="downloadUrl != ''">
                        <i class="fa fa-download"></i>
                    </button>
                </form>
            </div>
            <button id="fields-popover" type="button" class="btn btn-default pull-right hidden-xs" data-placement="bottom" data-toggle="popover" title="Fields" >
                <i class="fa fa-columns" style="font-size: 16px"></i>
            </button>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding table-responsive">
            <div class="alert alert-info" v-if="items.length == 0" style="margin-bottom: 0px">
                There are no {{ title }}
            </div>
            <table class="table table-striped" v-if="items.length > 0">
                <thead>
                    <tr>
                        <th style="width: 10px" data-header="NR">#<span class="dragtable-drag-handle"></span></th>
                        <th v-for="header in headers" v-on:click="clickSort(header.field)" v-bind:data-header="header.field">
                            [[ header.label ]]
                            <span class="dragtable-drag-handle">
                                <i class="fa fa-arrows"></i>
                            </span>

                            <i class="fa fa-sort pull-right" v-if="header.sort == 'sort'"></i>
                            <i class="fa fa-sort-amount-asc pull-right" v-if="header.sort == 'asc'"></i>
                            <i class="fa fa-sort-amount-desc pull-right" v-if="header.sort == 'desc'"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in enumeratedItems" v-on:click="clickItem(item)">
                        <td v-for="column in item.row_data" v-html="column" />
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix" v-if="items.length > 0">
            Showing [[fromItemCount]] to [[toItemCount]] of [[count]] items
            <select v-model="pageSize" id="id_status">
                <option>10</option>
                <option>25</option>
                <option>50</option>
            </select>
            per page

            <ul class="pagination pagination-sm no-margin pull-right">
                <li v-if="previousPage > 0"><a v-on:click="toPage(previousPage)">«</a></li>
                <li v-for="pageNumber in pages" v-bind:class="{ active: pageNumber == page }">
                    <a v-on:click="toPage(pageNumber)">[[pageNumber]]</a>
                </li>

                <li v-if="nextPage > 0"><a v-on:click="toPage(nextPage)">»</a></li>
              </ul>
        </div>

        <div id="fields-popover-content" class="hidden">
            <div style="max-height: 250px; overflow-y: scroll">
                <div v-for="field in fields" class="col-md-6">
                    <label v-on:click="clickTest()">
                        <input v-bind:checked="field.checked" v-model="field.checked" v-bind:name="field.name" type="checkbox">
                        [[field.label]]
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/jquery.dragtable.js" %}"></script>

    <script type="text/javascript">
    function TrionyxList(ajaxUrl, downloadUrl){
        return new Vue({
            el: '#app-model-list',
            delimiters: ['[[', ']]'],
            data: {
                ajaxUrl: ajaxUrl,
                downloadUrl: downloadUrl,
                ajaxCall: null,

                loading: true,
                items: [],

                csrfmiddlewaretoken: getCookie('csrftoken'),
                page: 1,
                pageSize: 10,
                numPages: 0,
                count: 0,
                sort: '',
                allFields: {},
                selected_fields: '',
                currentFields: [],
                search: '',
            },

            computed: {
                headers: function(){
                    var self = this;
                    return this.currentFields.map(function(field){
                        return {
                            field: field,
                            label: field in self.allFields ? self.allFields[field].label : '',
                            sort: self.sort == field ? 'asc' : self.sort == '-' + field ? 'desc' : 'sort',
                        }
                    });
                },
                enumeratedItems: function(){
                    var counter = (this.page - 1) * this.pageSize + 1;
                    return this.items.map(function(item){
                        item.row_data.splice(0, 0, counter++);
                        return item;
                    });
                },
                fields: function(){
                    var self = this;
                    return Object.keys(this.allFields).map(function(key){
                        var field = self.allFields[key];
                        field.checked = self.currentFields.indexOf(key) >= 0;
                        return field;
                    }).sort(function (a, b) {
                        return a.label.localeCompare(b.label);
                    });
                },
                pages: function() {
                    var paginatePages = 3;

                    var startPage = this.page - paginatePages;
                    startPage = startPage > 0 ? startPage : 1;

                    var endPage = this.page + paginatePages;
                    endPage = endPage <= this.numPages ? endPage : this.numPages;

                    return Array.apply(null, Array(endPage - startPage + 1)).map((item, index) => startPage + index);
                },
                nextPage: function() {
                    return self.page < this.numPages ? this.page + 1 : 0;
                },
                previousPage: function() {
                    return this.page > 1 ? this.page -1 : 0;
                },
                fromItemCount: function (){
                    return this.page * this.pageSize - this.pageSize + 1;
                },
                toItemCount: function() {
                    return this.page * this.pageSize;
                }
            },
            
            watch: {
               pageSize: function () {
                   this.page = 1;
                   this.load();
               } 
            },
            methods: {
                clickSort: function (field) {
                    if (this.sort == field){
                        this.sort = '-' + field;
                    } else {
                        this.sort = field;
                    };

                    this.load();
                },
                toPage: function (page) {
                    this.page = page;
                    this.load();
                },
                clickItem: function(item) {
                    window.location.href = item.url;
                },
                searchLoad: function() {
                    this.load();
                },
                load: function(initial){
                    var self = this;
                    initial = typeof initial !== 'undefined' ? initial : false;
                    var data = {
                        page: this.page,
                        page_size: this.pageSize,
                        sort: this.sort,
                        selected_fields: this.currentFields.join(','),
                        search: this.search,
                    };

                    if (this.ajaxCall) {
                        this.ajaxCall.abort();
                    }

                    this.ajaxCall = $.ajax({
                        type: 'POST',
                        url: this.ajaxUrl,
                        data: initial ? {} : data,
                    }).done(function(response){
                        if(response.status != 'success') {
                            return;
                        }
                        var data = response.data;

                        if (initial) {
                           self.search = data.search;
                        }

                        self.items = data.items;
                        self.page = data.page;
                        self.pageSize = data.page_size;
                        self.numPages = data.num_pages;
                        self.sort = data.sort;
                        self.count = data.count;
                        self.selected_fields = data.current_fields.join(',');
                        self.allFields = data.fields;
                        self.currentFields = data.current_fields;
                    }).fail(function () {
                        console.log('error');
                    }).always(function () {
                        self.ajaxCall = null;
                    });
                },
            },

            created() {
                this.load(true);
            },

            mounted(){
                var self = this;
                $('#fields-popover').popover({
                    html: true,
                    content(){
                        // TODO render this with vuejs?
                        var content = $($('#fields-popover-content').html());
                        content.find('input').each(function () {
                            var input = $(this);
                            var field = input.attr('name');
                            if (self.currentFields.indexOf(field) >= 0) {
                                input.attr('checked', true);
                            }

                            input.click(function(){
                                if (this.checked) {
                                    self.currentFields.push(field);
                                    self.currentFields = $.arrayUnique(self.currentFields);
                                    self.load();
                                } else {
                                    var index = self.currentFields.indexOf(field);
                                    if (index >= 0) {
                                        self.currentFields.splice(index, 1);
                                        self.load();
                                    }
                                }
                            });
                        });
                        return content;
                    },
                }).on("show.bs.popover", function(){
                    $(this).data("bs.popover").tip().css("max-width", "100%").css("min-width", "400px");
                });
            },

            updated: function () {
                var self = this;
                $('#id_status').select2({
                  minimumResultsForSearch: -1
                }).change(function ($event) {
                    self.pageSize = $($event.target).val();
                });

                $('#app-model-list table').dragtable({
                    start(e){
                        e.preventDefault();
                    },
                    stop(){
                        var currentFields = ['NR'];
                        $.each(self.currentFields, function(index, value){
                           currentFields.push(value);
                        });
                        var changed_fields = $(this).dragtable('order');

                        if (!$.arrayCompare(currentFields, changed_fields)) {
                            changed_fields.shift();
                            self.currentFields = changed_fields;
                            self.load();
                        }
                    }
                });

                // Update DragTable
                var currentFields = ['NR'];
                $.each(self.currentFields, function(index, value){
                   currentFields.push(value);
                });
                $('#app-model-list table').dragtable('order', currentFields);
            }
        });
    }
    </script>
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">
        $(function(){
           $(function () {
                var trionyxList = new TrionyxList("{{ ajax_url }}", "{{ download_url }}");
            });
        });
    </script>
{% endblock %}