{% extends "trionyx/base.html" %}
{% load crispy_forms_tags i18n static %}

{% block title %}
    {% if title %}
        {{ title|truncatechars:80 }}
    {% else %}
        {% trans "Update" %} {{ object|truncatechars:80 }}
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if title %}
        {{ title|truncatechars:80 }}
    {% else %}
        {{ object|truncatechars:80 }}
    {% endif %}
{% endblock %}

{% block extra_head %}
    {% if form.css_files %}
        {% for css in form.css_files %}
            <link rel="stylesheet" type="text/css" href="{% static css %}">
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content_top %}
    <form role="form" action="" method="post" enctype="multipart/form-data" novalidate style="display: inline">
{% endblock %}


{% block header_buttons %}
    {% if cancel_url %}
        <a href="{% url cancel_url %}" class="btn btn-flat bg-theme">{% trans "Cancel" %}</a>
    {% else %}
        <a href="{{ object_url }}" class="btn btn-flat bg-theme">{% trans "Cancel" %}</a>
    {% endif %}

    {% include 'trionyx/base/model_header_buttons.html' %}

    <input type="submit" value="{% if submit_value %}{{ submit_value }}{% else %}{% trans "Save" %}{% endif %}" class="btn btn-flat btn-success"/>
{% endblock %}


{% block content %}
    <div class="info-box">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans "Update" %} {{ object }}</h3>
        </div>
        <div class="box-body">
            {% csrf_token %}

            {% crispy form %}

        </div>
    </div>

{% endblock %}


{% block content_bottom %}
    </form>
{% endblock %}

{% block extra_foot %}
    {% if form.js_files %}
        {% for js in form.js_files %}
            <script src="{% static js %}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}