{% extends "trionyx/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Create {{ model_verbose_name }}
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if title %}
        {{ title }}
    {% else %}
        {{ object }}
    {% endif %}
{% endblock %}

{% block content_top %}
    <form role="form" action="" method="post" enctype="multipart/form-data" novalidate style="display: inline">
{% endblock %}


{% block header_buttons %}
    <a href="{{ cancel_url }}" class="btn btn-default">Cancel</a>
    <input type="submit" value="{% if submit_value %}{{ submit_value }}{% else %}Create{% endif %}" class="btn btn-primary"/>
{% endblock %}


{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Create {{ model_verbose_name }}</h3>
        </div>
        <div class="box-body">
            {% csrf_token %}

            {% crispy form %}

        </div>
    </div>
{% endblock %}


{% block content_bottom %}
    </form>
{% endblock %}



